<div class="panel panel-info" ng-init="consultarEstudiantes()">
    <div class="panel-heading"><strong>GESTIONAR ESTUDIANTES</strong></div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Número de Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estudiante in estudiantes | startFrom:(currentPage -1) * pageSize | limitTo: pageSize">
                    <td>{{ estudiante.numeroDocumento}}</td>
                    <td>{{ estudiante.nombres}}</td>
                    <td>{{ estudiante.apellidos}}</td>
                    <td>{{ estudiante.direccion}}</td>
                    <td>{{ estudiante.telefono}}</td>
                    <td><a ng-click="irEditarEstudiante(estudiante.id)" class="btn btn-small btn-primary">Editar</a>
                        <a ng-click="eliminarEstudiante(estudiante.id)" class="btn btn-small btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
        	<ul uib-pagination total-items="estudiantes.length" ng-model="currentPage" items-per-page="pageSize"></ul>
        </div> 
        <a ng-click="irCrearEstudiante()" class="btn btn-small btn-warning">Crear Estudiante</a>
    </div>
</div>