<div class="panel panel-info">
    <div class="panel-heading"><strong>CREAR ESTUDIANTE</strong></div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal" name="crearEstudianteForm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="numeroDocumento">Número Documento:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="numeroDocumento"
                           name="numeroDocumento"
                           ng-model="estudiante.numeroDocumento"
                           placeholder="Número de Documento"
                           ng-minlength="3"
                           ng-maxlength="15"
                           required/>
                    <div ng-messages="crearEstudianteForm.numeroDocumento.$error" class="text-danger" ng-show="crearEstudianteForm.numeroDocumento.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 3 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 15 caracteres.</div>
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label class="control-label col-sm-2" for="nombres">Nombres:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="nombres"
                           name="nombres"
                           ng-model="estudiante.nombres"
                           placeholder="Nombres"
                           ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/"
                           ng-minlength="3"
                           ng-maxlength="25"
                           required/>
                    <div ng-messages="crearEstudianteForm.nombres.$error" class="text-danger" ng-show="crearEstudianteForm.nombres.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="pattern">*Este campo contiene caracteres inválidos.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 3 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 25 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="apellidos"
                           name="apellidos"
                           ng-model="estudiante.apellidos"
                           placeholder="Apellidos"
                           ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/"
                           ng-minlength="3"
                           ng-maxlength="25"
                           required/>
                    <div ng-messages="crearEstudianteForm.apellidos.$error" class="text-danger" ng-show="crearEstudianteForm.apellidos.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="pattern">*Este campo contiene caracteres inválidos.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 3 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 25 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="direccion">Dirección:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="direccion"
                           name="direccion"
                           ng-model="estudiante.direccion"
                           placeholder="Direccion"
                           ng-minlength="10"
                           ng-maxlength="50"
                           required/>
                    <div ng-messages="crearEstudianteForm.direccion.$error" class="text-danger" ng-show="crearEstudianteForm.direccion.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 10 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 50 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="telefono">Teléfono</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="telefono"
                           name="telefono"
                           ng-model="estudiante.telefono"
                           placeholder="Telefono"
                           ng-minlength="7"
                           ng-maxlength="20"
                           required/>
                    <div ng-messages="crearEstudianteForm.telefono.$error" class="text-danger" ng-show="crearEstudianteForm.telefono.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 7 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 20 caracteres.</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="cancelar()" class="btn btn-small btn-danger">Cancelar</a>
                    <a ng-click="crearEstudiante()" class="btn btn-small btn-success">Aceptar</a>
                </div>
            </div>
        </form>
    </div>
</div>