<div class="panel panel-info">
    <div class="panel-heading"><strong>GESTIONAR INSCRIPCIONES</strong></div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-inline" name="gestionarInscripcionForm">
            <div class="form-group">
                <label for="numeroDocumento">Número de documento:</label>
                <input type="text" id="numeroDocumento" name="numeroDocumento" ng-model="numeroDocumento" placeholder="Número de documento" required/>
                <a ng-click="buscarEstudiante()" class="btn btn-small btn-success">Buscar</a>
            </div> 
        </form>
        <div ng-show="mostrarPanel">
            <br />
            <b>Nombre:</b> {{estudiante.nombres}} | <b>Apellido:</b> {{estudiante.apellidos}} | <b>Teléfono:</b> {{estudiante.telefono}} | <b>Dirección:</b> {{estudiante.direccion}}
        </div>
    </div>
</div>
<div class="panel panel-info" ng-show="mostrarPanel">
    <div class="panel-heading"><strong>ASIGNATURAS INSCRITAS DEL ESTUDIANTE</strong></div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Semestre</th>   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asignatura in asignaturas | startFrom:(currentPage -1) * pageSize | limitTo: pageSize">
                    <td>{{ asignatura.codigo}}</td>
                    <td>{{ asignatura.nombre}}</td>
                    <td>{{ asignatura.descripcion}}</td>
                    <td>{{ asignatura.semestre}}</td>
                    <td><a ng-click="eliminarInscripcion(asignatura.id)" class="btn btn-small btn-danger">Eliminar Inscripción</a></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
        	<ul uib-pagination total-items="asignaturas.length" ng-model="currentPage" items-per-page="pageSize"></ul>
        </div>
        <h5>Inscribir asignatura</h5>
        <form novalidate="novalidate" class="form-inline" name="inscribirAsignaturaForm">    
            <div class="form-group">
                <label for="asignaturaSeleccionada">Asignatura:</label>
                <select required id="asignaturaSeleccionada"
                        name="asignaturaSeleccionada"
                        ng-model="asignaturaSeleccionada"
                        ng-options="asignatura as asignatura.nombre for asignatura in asignaturasPorInscribir">            
                </select>
                <a ng-click="inscribirAsignatura()" class="btn btn-small btn-warning">Inscribir</a>
            </div>   
        </form>
    </div>
</div>