<div class="panel panel-info" ng-init="consultarFacultades()">
    <div class="panel-heading"><strong>GESTIONAR FACULTADES</strong></div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="facultad in facultades | startFrom:(currentPage -1) * pageSize | limitTo: pageSize">
                    <td>{{ facultad.codigo}}</td>
                    <td>{{ facultad.nombre}}</td>
                    <td>{{ facultad.descripcion}}</td>
                    <td><a ng-click="irEditarFacultad(facultad.id)" class="btn btn-small btn-primary">Editar</a>
                        <a ng-click="eliminarFacultad(facultad.id)" class="btn btn-small btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
        	<ul uib-pagination total-items="facultades.length" ng-model="currentPage" items-per-page="pageSize"></ul>
        </div>    
		<a ng-click="irCrearFacultad()" class="btn btn-small btn-warning">Crear Facultad</a>	
    </div>  
</div>