<div class="panel panel-info">
    <div class="panel-heading"><strong>CREAR FACULTAD</strong></div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal" name="crearFacultadForm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="codigo">Código:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="codigo"
                           name="codigo"
                           ng-model="facultad.codigo"
                           placeholder="Código"
                           ng-minlength="3"
                           ng-maxlength="8"
                           required/>
                    <div ng-messages="crearFacultadForm.codigo.$error" class="text-danger" ng-show="crearFacultadForm.codigo.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 3 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 8 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="nombre"
                           name="nombre"
                           ng-model="facultad.nombre"
                           placeholder="Nombre"
                           ng-minlength="3"
                           ng-maxlength="25"
                           required/>
                    <div ng-messages="crearFacultadForm.nombre.$error" class="text-danger" ng-show="crearFacultadForm.nombre.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 3 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 25 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="descripcion"
                           name="descripcion"
                           ng-model="facultad.descripcion"
                           placeholder="Descripción"
                           ng-minlength="3"
                           ng-maxlength="50"
                           required/>
                    <div ng-messages="crearFacultadForm.descripcion.$error" class="text-danger" ng-show="crearFacultadForm.descripcion.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 3 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 50 caracteres.</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="cancelar()" class="btn btn-small btn-danger">Cancelar</a>
                    <a ng-click="crearFacultad()" class="btn btn-small btn-success">Aceptar</a>
                </div>
            </div>
        </form>
    </div>
</div>
