<div class="panel panel-info" ng-init="consultarAsignaturas()">
    <div class="panel-heading"><strong>GESTIONAR ASIGNATURAS</strong></div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Semestre</th>
                    <th>Estado</th>
                    <th>Facultad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asignatura in asignaturas | startFrom:(currentPage -1) * pageSize | limitTo: pageSize">
                    <td>{{ asignatura.codigo}}</td>
                    <td>{{ asignatura.nombre}}</td>
                    <td>{{ asignatura.descripcion}}</td>
                    <td>{{ asignatura.semestre}}</td>
                    <td>{{ asignatura.estado === true ? "Abierta" : "Cerrada"}}</td>
                    <td>{{ asignatura.facultad.nombre}}</td>
                    <td><a ng-click="irEditarAsignatura(asignatura.id)" class="btn btn-small btn-primary">Editar</a>
                        <a ng-click="eliminarAsignatura(asignatura.id)" class="btn btn-small btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
        	<ul uib-pagination total-items="asignaturas.length" ng-model="currentPage" items-per-page="pageSize"></ul>
        </div>
        <a ng-click="irCrearAsignatura()" class="btn btn-small btn-warning">Crear Asignatura</a>
    </div>
</div>