<div class="panel panel-info" ng-init="consultarFacultades()">
    <div class="panel-heading"><strong>CREAR ASIGNATURA</strong></div>
    <div class="panel-body">
        <form novalidate="novalidate" class="form-horizontal" name="crearAsignaturaForm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="codigo">Código:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="codigo"
                           name="codigo"
                           ng-model="asignatura.codigo"
                           placeholder="Código"
                           ng-pattern="/^[0-9]+$/"
                           ng-minlength="2"
                           ng-maxlength="10"
                           required/>
                    <div ng-messages="crearAsignaturaForm.codigo.$error" class="text-danger" ng-show="crearAsignaturaForm.codigo.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="pattern">*Este campo contiene caracteres inválidos.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 2 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 10 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="nombre"
                           name="nombre"
                           ng-model="asignatura.nombre"
                           placeholder="Nombre"
                           ng-minlength="5"
                           ng-maxlength="25"
                           required/>
                    <div ng-messages="crearAsignaturaForm.nombre.$error" class="text-danger" ng-show="crearAsignaturaForm.nombre.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 5 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 25 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="descripcion"
                           name="descripcion"
                           ng-model="asignatura.descripcion"
                           placeholder="Descripción"
                           ng-minlength="5"
                           ng-maxlength="50"
                           required/>
                    <div ng-messages="crearAsignaturaForm.descripcion.$error" class="text-danger" ng-show="crearAsignaturaForm.descripcion.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 5 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 50 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="semestre">Semestre:</label>
                <div class="col-sm-10">
                    <select required id="semestre" name="semestre" ng-model="asignatura.semestre" ng-minlength="1" ng-maxlength="2"
                            ng-options="numeroSemestre for numeroSemestre in semestres">            
                    </select>
                    <div ng-messages="crearAsignaturaForm.semestre.$error" class="text-danger" ng-show="crearAsignaturaForm.semestre.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                        <div ng-message="minlength">*La longitud debe ser mínimo 1 caracteres.</div>
                        <div ng-message="maxlength">*La longitud debe ser máximo 2 caracteres.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="estado">Estado:</label>
                <div class="col-sm-10">
                    <input type="radio" id="estado" name="estado" ng-model="asignatura.estado" ng-value="true" required>Abierta 
                    <input type="radio" id="estado" name="estado" ng-model="asignatura.estado" ng-value="false" required>Cerrada
                    <div ng-messages="crearAsignaturaForm.estado.$error" class="text-danger" ng-show="crearAsignaturaForm.estado.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="facultad">Facultad:</label>
                <div class="col-sm-10">
                    <select required id="facultad"
                            name="facultad"
                            ng-model="asignatura.facultad"
                            ng-options="facultad as facultad.nombre for facultad in facultades">            
                    </select>
                    <div ng-messages="crearAsignaturaForm.facultad.$error" class="text-danger" ng-show="crearAsignaturaForm.facultad.$touched">
                        <div ng-message="required">*Este campo es requerido.</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="cancelar()" class="btn btn-small btn-danger">Cancelar</a>
                    <a ng-click="crearAsignatura()" class="btn btn-small btn-success">Aceptar</a>
                </div>
            </div>
        </form>
    </div>
</div>